[Unit]
Description=Robot
After=multi-user.target

[Service]
Type=simple
User=pip
Group=pip
WorkingDirectory=/home/pip/robot
ExecStart=/usr/bin/python3 /home/pip/robot/src/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
