[Unit]
Description=Robot Web UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pip
Group=pip
WorkingDirectory=/home/pip/robot
EnvironmentFile=/home/pip/robot/.env
ExecStart=/bin/sh /home/pip/robot/services/web.server.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
