[Unit]
Description=Robot Web UI
DefaultDependencies=no
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
User=pip
Group=pip
WorkingDirectory=/home/pip/robot
EnvironmentFile=/home/pip/robot/.env
ExecStart=/bin/sh /home/pip/robot/web/server.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
